<%= form_for term, builder: MyFormBuilder do |f| %>
  <%= f.select :article, options_for_select(Noun.articles.map { |key, value| [key, key] }, term.article), { include_blank: true }, required: true %>
  <%= f.text_field :base, required: true %>
  <%= f.text_field :plural, required: true %>
  <%= f.text_field :meaning, required: true %>
  <%= f.text_field :meanings_accepted %>
  <%= f.check_box :meaning_learned %>
  <%= f.submit class: 'btn btn-info' %>
  <a href class="btn btn-warning" id="investigate_noun">Search</a>
<% end %>

<script>
  $(document).ready(function() {
    $("#investigate_noun").click(function(event) {
      event.preventDefault();
      const query = $("#noun_base").val();
      window.open(`https://www.linguee.de/deutsch-englisch/search?query=${query.replaceAll(" ", "+")}`, '_blank');
      window.open(`https://www.wordreference.com/deen/${query.replaceAll(" ", "+")}`, '_blank');
      window.open(`https://www.duden.de/rechtschreibung/${query.replaceAll(" ", "+")}`, '_blank');
      window.open(`https://www.dwds.de/wb/${query.replaceAll(" ", "+")}`, '_blank');
      window.open(`https://context.reverso.net/translation/german-english/${query.replaceAll(" ", "+")}`, '_blank');
    });
  });
</script>