<% if word.errors&.any? %>
    <div class="alert alert-danger" role="alert">
        <%= word.errors.full_messages.to_sentence %>
    </div>
<% end %>

<% if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>

<%= form_for word do |f| %>
    <div class="form-group">
        <%= f.label :article %>
        <%= f.select :article, options_for_select(Word.articles.map { |key, value| [key, key] }, word.new_record? ? nil : word.article), { include_blank: true }, class: "form-control", required: true %>
    </div>
    <div class="form-group">
        <%= f.label :word %>
        <div class="input-group mb-3">
            <%= f.text_field :word, class: "form-control", required: true %>
            <div class="input-group-append">
                <a href class="btn btn-info" id="search">Search</a>
            </div>
            <div class="input-group-append">
                <a href class="btn btn-secondary" id="check">Check</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :meaning %>
        <%= f.text_field :meaning, class: "form-control", required: true %>
        <small id="notoverbs" class="form-text text-muted">You don't need to prefix verbs with "to" </small>
    </div>
    <div class="form-group">
        <%= f.label :notes %>
        <%= f.text_area :notes, class: "form-control" %>
    </div>
    <%= f.submit class: 'btn btn-info' %>
<% end %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group" id="suggestions">
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        $("#check").click(function(event) {
            event.preventDefault();
            const value = $("#word_word").val();
            $.get(`https://linguee-api.herokuapp.com/api?q=${value}&src=de&dst=en`, function(data) {
                if (data && data.exact_matches && data.exact_matches.length) {
                    const suggestions = data.exact_matches.map(function(obj) {
                        const className = `list-group-item ${obj.text.toLowerCase() === value.toLowerCase() ? 'text-success font-weight-bold' : ''}`;
                        let article;

                        switch (obj.word_type.gender) {
                            case "feminine":
                                article = "die - "
                                break;
                            case "neuter":
                                article = "das - "
                                break;
                            case "masculine":
                                article = "der - "
                                break;
                            default:
                                article = ""
                                break;
                        }

                        return `<li class="${className}">${article}${obj.text}</li>`;
                    });
                    $("#suggestions").html(suggestions);
                }
                $('#myModal').modal('show');
            });
        });

        $("#search").click(function(event) {
            event.preventDefault();
            const query = $("#word_word").val();
            window.open(`https://www.linguee.de/deutsch-englisch/search?query=${query.replaceAll(" ", "+")}`, '_blank');
        });
    });
</script>