<% if word.errors&.any? %>
    <div class="alert alert-danger" role="alert">
        <%= word.errors.full_messages.to_sentence %>
    </div>
<% end %>

<%= form_for word, builder: MyFormBuilder do |f| %>
    <% if @word.other_meanings.present? %>
        <div class="alert alert-primary" role="alert">
            See also
            <% @word.other_meanings.each do |other_meaning| %>
                <%= link_to other_meaning.word, edit_word_path(other_meaning), class: "small text-right" %>
            <% end %>
        </div>
    <% end %>

    <%= f.select :word_type, options_for_select(Word.word_types.map { |key, value| [key.humanize, key] }, word.new_record? ? nil : word.word_type), {}, class: "form-control", required: true %>
    <%= f.select :article, options_for_select(Word.articles.map { |key, value| [key.humanize, key] }, word.new_record? ? nil : word.article), { include_blank: true }, class: "form-control", required: true %>
    <div class="offset-sm-4 col-sm-8">
        <a href class="small text-info" id="search">Search</a>
        <a href class="small text-secondary" id="check">Check</a>
    </div>
    <%= f.text_field :word, required: true %>
    <%= f.text_field :example %>
    <%= f.text_field :keyword %>
    <%= f.text_field :meaning, required: true %>
    <%= f.text_field :meaning_forms, :placeholder => 'E.g: Accept, accepting, accepted' %>
    <%= f.text_field :notes %>
    <%= f.text_field :perfect %>
    <%= f.text_field :praeteritum %>
    <%= f.text_field :plural %>
    <%= f.text_field :comparative %>
    <%= f.text_field :superlative %>
    <%= f.select :verb_preposition, options_for_select(Word.verb_prepositions.map { |key, value| [key, key] }, word.new_record? ? nil : word.verb_preposition), {include_blank: true}, class: "form-control" %>
    <%= f.select :learned_status, options_for_select(Word.learned_statuses.map { |key, value| [key.humanize, key] }, word.new_record? ? nil : word.learned_status), {include_blank: true}, class: "form-control" %>

    <%= f.submit class: 'btn btn-info col-sm-2' %>
<% end %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group" id="suggestions">
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        $("#check").click(function(event) {
            event.preventDefault();
            const value = $("#word_word").val();
            $.get(`https://linguee-api.herokuapp.com/api?q=${value}&src=de&dst=en`, function(data) {
                if (data && data.exact_matches && data.exact_matches.length) {
                    const suggestions = data.exact_matches.map(function(obj) {
                        const className = `list-group-item ${obj.text.toLowerCase() === value.toLowerCase() ? 'text-success font-weight-bold' : ''}`;
                        let article;

                        switch (obj.word_type.gender) {
                            case "feminine":
                                article = "die - "
                                break;
                            case "neuter":
                                article = "das - "
                                break;
                            case "masculine":
                                article = "der - "
                                break;
                            default:
                                article = ""
                                break;
                        }

                        return `<li class="${className}">${article}${obj.text}</li>`;
                    });
                    $("#suggestions").html(suggestions);
                }
                $('#myModal').modal('show');
            });
        });

        $("#search").click(function(event) {
            event.preventDefault();
            const query = $("#word_word").val();
            window.open(`https://www.linguee.de/deutsch-englisch/search?query=${query.replaceAll(" ", "+")}`, '_blank');
        });
    });
</script>