<ul class="list-group pb-3">
    <li class="list-group-item">
        <span><%= "You have #{@words.count} words in total" %></span>
    </li>
    <li class="list-group-item">
        <span><%= "You have #{Word.mistaken.count} mistaken words in total" %></span>
    </li>
    <li class="list-group-item">
        <span><%= link_to 'Go to added words history', history_words_path %></span>
    </li>
    <li class="list-group-item">
        <span><%= link_to 'Go to practice history', practices_path %></span>
    </li>
</ul>

<%= form_tag words_path, method: :get do %>
    <div class="input-group mb-3">
        <%= text_field_tag :search_term, params[:search_term] %>
            <div class="input-group-append">
                <%= submit_tag 'search', class: "input-group-text", id: "basic-addon2" %>
            </div>
    </div>
<% end %>

<table class="table small">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Word</th>
            <th scope="col">Meaning</th>
            <th scope="col">Errors</th>
            <th scope="col">
                <%= link_to "Rate", words_path(sort_by_mistakes_rate: true, direction: params[:direction] == "DESC" ? "ASC" : "DESC") %>
            </th>
            <th scope="col">
                <%= link_to "Consecutive", words_path(sort_by_streak: true, direction: params[:direction] == "DESC" ? "ASC" : "DESC") %>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @words.each do |word| %>
        <tr>
            <% article = word.article_none? ? "" : "#{word.read_attribute("article")} "%>
            <td class="d-flex align-items-center">
                <%= "#{article}#{word.word}" %>
                <% if word.attempts == 0 %>
                  <%= image_tag "new.png" %>
                <% end %>
            </td>
            <td><%= word.meaning %></td>
            <td><%= "#{word.mistakes}/#{word.attempts}" %></td>
            <td class="<%= word.mistakes_rate < 10 ? "text-success" : "text-danger" %>">
                <strong>
                    <%= number_to_percentage(word.mistakes_rate, precision: 0) %>
                </strong>
            </td>
            <td><%= word.consecutive_correct_answers %></td>
            <td>
                <%= link_to edit_word_path(word), class: "btn btn-link" do %>
                    <small>Edit</small>
                <% end %>
            </td>
            <td>
                <%= button_to word_path(word), method: :delete, class: "btn btn-link text-danger" do %>
                    <small>Delete</small>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= paginate @words%>
