<div class="row mb-3">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">
                <span><%= "You have #{Word.select(:word).distinct.count} words in total" %></span>
            </li>
            <li class="list-group-item">
                <span><%= "Your mistakes rate is: " %></span>
                <strong class="text-danger"><%= "#{number_to_percentage(Word.mistak_by_attempts, precision: 0)}" %></strong>
                <small class="text-danger"><%= "(#{Word.total_mistakes}/#{Word.total_attempts})" %></small>
            </li>
            <li class="list-group-item">
                <span><%= "You have #{Word.mistaken.count} mistaken words in total" %></span>
            </li>
            <li class="list-group-item">
                <span><%= "You have #{Word.learned.count} learned words" %></span>
            </li>
            <li class="list-group-item">
                <span><%= link_to 'Go to added words history', history_words_path %></span>
            </li>
            <li class="list-group-item">
                <span><%= link_to 'Go to practice history', practices_path %></span>
            </li>
            <li class="list-group-item">
                <span class="text-danger">
                    <%= "#{Word.where(:word_type => Word.word_types[:none]).count} Words without type" %>
                </span>
            </li>
        </ul>
    </div>
    <div class="col">
        <%= form_tag words_path, method: :get do %>
            <div class="card p-3">
                <div class="form-group">
                    <%= text_field_tag :search_term, params[:search_term], class: 'form-control', placeholder: 'Type a word or meaning...' %>
                </div>
                <div class="form-group">
                    <%= select_tag :learned_status,
                        options_for_select(Word.learned_statuses.map { |key, value| [key.humanize, key] }, params[:learned_status]),
                        { class: 'form-control', include_blank: "Pick a learned status..." }
                    %>
                </div>
                <div class="form-group">
                    <%= select_tag :word_type,
                        options_for_select(Word.word_types.map { |key, value| [key, key] }, params[:word_type]),
                        { class: 'form-control', include_blank: "Select a word type..." }
                    %>
                </div>
                <div class="row">
                    <div class="col">
                        <%= submit_tag 'Filter', class: "btn btn-block btn-info" %>
                    </div>
                    <div class="col">
                        <%= link_to 'Reset', words_path, class: "btn btn-block btn-outline-info" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<table class="table small">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Word</th>
            <th scope="col">Meaning</th>
            <th scope="col">Errors</th>
            <th scope="col">
                <%= link_to "Consecutive", words_path(sort_by_streak: true, direction: params[:direction] == "DESC" ? "ASC" : "DESC") %>
            </th>
        </tr>
    </thead>
    <tbody>
        <% @words.each do |word| %>
        <tr class='<%= "table-danger" if word.updated_at < 3.day.ago %>'>
            <td class="d-flex align-items-center">
                <% article = word.article_none? ? "" : "#{word.read_attribute("article")} "%>
                <%= link_to "#{article}#{word.word}", edit_word_path(word) %>
                <% if word.attempts == 0 %>
                  <span class="badge badge-pill badge-success ml-2">New</span>
                <% end %>
                <% if word.word_type_none? %>
                  <span class="badge badge-pill badge-danger ml-2">Missing Type</span>
                <% end %>
            </td>
            <td><%= word.meaning %></td>
            <td><%= "#{word.mistakes}/#{word.attempts}" %></td>
            <td><%= word.consecutive_correct_answers %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= paginate @words%>
