<ul class="list-group pb-3">
    <li class="list-group-item">
        <span><%= "You have #{Word.select(:word).distinct.count} words in total" %></span>
    </li>
    <li class="list-group-item">
        <span><%= "Your mistakes rate is: " %></span>
        <strong class="text-danger"><%= "#{number_to_percentage(Word.mistak_by_attempts, precision: 0)}" %></strong>
        <small class="text-danger"><%= "(#{Word.total_mistakes}/#{Word.total_attempts})" %></small>
    </li>
    <li class="list-group-item">
        <span><%= "You have #{Word.mistaken.count} mistaken words in total" %></span>
    </li>
    <li class="list-group-item">
        <span><%= link_to 'Go to added words history', history_words_path %></span>
    </li>
    <li class="list-group-item">
        <span><%= link_to 'Go to practice history', practices_path %></span>
    </li>
</ul>

<%= form_tag words_path, method: :get do %>
    <div class="input-group mb-3">
        <%= text_field_tag :search_term, params[:search_term] %>
            <div class="input-group-append">
                <%= submit_tag 'search', class: "input-group-text", id: "basic-addon2" %>
            </div>
    </div>
<% end %>

<table class="table small">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Word</th>
            <th scope="col">Meaning</th>
            <th scope="col">Errors</th>
            <th scope="col">
                <%= link_to "Consecutive", words_path(sort_by_streak: true, direction: params[:direction] == "DESC" ? "ASC" : "DESC") %>
            </th>
        </tr>
    </thead>
    <tbody>
        <% @words.each do |word| %>
        <tr class='<%= "table-danger" if word.updated_at < 3.day.ago %>'>
            <td class="d-flex align-items-center">
                <% article = word.article_none? ? "" : "#{word.read_attribute("article")} "%>
                <%= link_to "#{article}#{word.word}", edit_word_path(word) %>
                <% if word.attempts == 0 %>
                  <span class="badge badge-pill badge-success ml-2">New</span>
                <% end %>
                <% if word.example.blank? %>
                  <span class="badge badge-pill badge-danger ml-2">E.g.</span>
                <% end %>
            </td>
            <td><%= word.meaning %></td>
            <td><%= "#{word.mistakes}/#{word.attempts}" %></td>
            <td><%= word.consecutive_correct_answers %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= paginate @words%>
