<p><%= "You have #{@words.count} words in total" %></p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"><small>Word</small></th>
            <th scope="col"><small>Meaning</small></th>
            <th scope="col"><small>Mistakes</small></th>
            <th scope="col"><small>Consecutive</small></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @words.each do |word| %>
        <tr>
            <% article = word.article_none? ? "" : "#{word.read_attribute("article")} "%>
            <td><%= "#{article}#{word.word}" %></td>
            <td><%= word.meaning %></td>
            <% mistakes_rate = word.mistakes.to_f/word.attempts.to_f * 100 %>
            <td class="<%= mistakes_rate > 10 ? "text-danger" : "text-success" %>">
                <strong>
                    <%= number_to_percentage(word.attempts > 0 ? mistakes_rate : 0, precision: 0) %>
                </strong>
            </td>
            <td><%= word.consecutive_correct_answers %></td>
            <td>
                <%= button_to word_path(word), method: :delete, class: 'btn btn-danger' do %>
                    <span aria-hidden="true">&times;</span>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
