<%= select_tag :translation, options_for_select([nil, :de_en, :en_de], params[:translation]), {class: "form-control", :onchange => "window.location.assign(`learn?translation=${this.value}`)" } %>

<%= form_tag verify_word_path(@word), method: :get do %>
<%= hidden_field_tag :translation, params[:translation] %>
<div class='form-group'>
    <%= label_tag :word %>
    <%= text_field_tag :word, @translation == :de_en ? @word.word : '', class: 'form-control', required: true %>
</div>
<div class='form-group'>
    <%= label_tag :meaning %>
    <%= text_field_tag :meaning, @translation == :en_de ? @word.meaning : '', class: 'form-control', required: true %>
    <small id="notoverbs" class="form-text text-muted">You don't need to prefix verbs with "to" </small> 
</div>
<%= submit_tag 'Verify', class: 'btn btn-info' %>
<% end %>