<h1 class="text-center p-5"><%= @word.consecutive_correct_answers %></h1>

<%= form_tag verify_word_path(@word), method: :get do %>
    <%= hidden_field_tag :translation, params[:translation] %>
    <%= hidden_field_tag :smart_mode, params[:smart_mode] %>

    <div class='form-group'>
        <div class="form-group">
            <%= label_tag :example %>
            <div class="form-control h-auto p-3">
                <%= highlight(@word.example, @word.keyword.split(', '), highlighter: '<u>\1</u>') %>
            </div>
        </div>

        <div class="input-group mb-3">
            <% unless @word.article_none? %>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><%= @word.article %></span>
                </div>
            <% end %>
            <%= text_field_tag :word, @translation == :de_en ? @word.word : '', class: 'form-control', required: true, autocomplete: 'off', autofocus: @translation == :en_de %>
        </div>

        <% if @word.notes.present? %>
            <a class="form-text text-muted" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <small>Show notes</small>
            </a>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <%= @word.notes %>
                </div>
            </div>
        <% end %>
    </div>

    <div class='form-group'>
        <%= label_tag :meaning %>
        <%= text_field_tag :meaning, @translation == :en_de ? @word.meaning : '', class: 'form-control', required: true, autocomplete: 'off', autofocus: @translation == :de_en %>
        <small id="notoverbs" class="form-text text-muted">You don't need to prefix verbs with "to" </small>
    </div>
    <%= submit_tag 'Verify', class: 'btn btn-info' %>
<% end %>
