<% if @word&.errors&.any? %>
    <div class="alert alert-danger" role="alert">
        <%= @word.errors.full_messages.to_sentence %>
    </div>
<% end %>

<% if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>

<%= form_for :word, url: words_path do |f| %>
<div class="form-group">
    <%= f.label :article %>
    <%= f.select :article, options_for_select(Word.articles.map { |key, value| [key, key] }), {}, class: "form-control" %>
</div>
<div class="form-group">
    <%= f.label :word %>
    <div class="input-group mb-3">
        <%= f.text_field :word, class: "form-control", required: true %>
        <div class="input-group-append">
            <button class="btn btn-primary" id="check">Check</button>
        </div>
    </div>
</div>
<div class="form-group">
    <%= f.label :meaning %>
    <%= f.text_field :meaning, class: "form-control", required: true %>
    <small id="notoverbs" class="form-text text-muted">You don't need to prefix verbs with "to" </small>
</div>
<div class="form-group">
    <%= f.label :example %>
    <%= f.text_area :example, class: "form-control" %>
</div>
<%= f.submit class: 'btn btn-info' %>
<% end %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group" id="suggestions">
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
    $("#check").click(function() {
        const value = $("#word_word").val();
        $.get(`https://linguee-api.herokuapp.com/api?q=${value}&src=de&dst=en`, function(data) {
            const suggestions = data.exact_matches.map(function(obj) {
                return `<li class="list-group-item">${obj.text}</li>`;
            });
            $("#suggestions").html(suggestions);
            $('#myModal').modal('show');
        });
    });
</script>