<% unless @word.article_none? %>
    <div class="form-group">
        <label>Article</label>
        <input type="text" class="form-control" value="<%= @word.article %>" />
        <% if @word.article != params[:article] %>
        <div class="text-danger" style="text-decoration: line-through">
            <%= params[:article] %>
        </div>
        <% end %>
    </div>
<% end %>

<div class="form-group">
    <label>Word</label>
    <input type="text" class="form-control" value="<%= @word.word %>" />
    <% if @word.word.downcase != params[:word]&.downcase %>
    <div class="text-danger" style="text-decoration: line-through">
        <%= params[:word] %>
    </div>
    <% end %>
</div>

<div class="form-group">
    <label>Meaning</label>
    <input type="text" class="form-control" value="<%= @word.meaning %>" />
    <% if @word.meaning.downcase != params[:meaning]&.downcase %>
    <div class="text-danger" style="text-decoration: line-through">
        <%= params[:meaning] %>
    </div>
    <% end %>
</div>

<div class="form-group">
    <label>Example</label>
    <input type="text" class="form-control" value="<%= @word.notes %>" />
</div>

<div class="form-group">
    <label>Attempts</label>
    <input type="text" class="form-control" value="<%= @word.attempts %>" />
</div>

<div class="form-group">
    <label>Mistakes</label>
    <input type="text" class="form-control" value="<%= @word.mistakes %>" />
</div>

<div class="form-group">
    <label>Consecutive Correct Answers</label>
    <input type="text" class="form-control" value="<%= @word.consecutive_correct_answers %>" />
</div>

<% unless @word.article_none? %>
    <div class="form-group">
        <label>Article attempts</label>
        <input type="text" class="form-control" value="<%= @word.article_attempts %>" />
    </div>

    <div class="form-group">
        <label>Article Mistakes</label>
        <input type="text" class="form-control" value="<%= @word.article_mistakes %>" />
    </div>

    <div class="form-group">
        <label>Article Consecutive Correct Answers</label>
        <input type="text" class="form-control" value="<%= @word.article_consecutive_correct_answers %>" />
    </div>
<% end %>

<%= link_to 'Continue', params[:article].present? ? learn_articles_words_path : learn_words_path(translation: params[:translation]), class: 'btn btn-info' %>