<% unless @word.article_none? %>
    <div class="form-group">
        <label>Article</label>
        <input type="text" class="form-control" value="<%= @word.article %>" />
        <% if @word.article != params[:article] %>
        <div class="text-danger" style="text-decoration: line-through">
            <%= params[:article] %>
        </div>
        <% end %>
    </div>
<% end %>

<div class="form-group">
    <label>Word</label>
    <input type="text" class="form-control" value="<%= @word.word %>" />
    <% if @word.word.downcase != params[:word]&.downcase %>
    <div class="text-danger" style="text-decoration: line-through">
        <%= params[:word] %>
    </div>
    <% end %>
</div>

<div class="form-group">
    <label>Meaning</label>
    <input type="text" class="form-control" value="<%= @word.meaning %>" />
    <% if @word.meaning.downcase != params[:meaning]&.downcase %>
    <div class="text-danger" style="text-decoration: line-through">
        <%= params[:meaning] %>
    </div>
    <% end %>
</div>

<div class="form-group">
    <label>Example</label>
    <textarea type="text" class="form-control"><%= @word.example %></textarea>
</div>

<div class="form-group">
    <label>Preposition</label>
    <input type="text" class="form-control" value="<%= @word.verb_preposition %>" />
    <% if @word.word.downcase != params[:verb_preposition]&.downcase %>
    <div class="text-danger" style="text-decoration: line-through">
        <%= params[:verb_preposition] %>
    </div>
    <% end %>
</div>

<%
    link = case
    when params[:article].present?
        learn_articles_words_path
    when params[:verb_preposition].present?
        learn_verb_prepositions_words_path
    else
        learn_words_path(translation: params[:translation], smart_mode: params[:smart_mode] == "true", once_a_day: params[:once_a_day] == "true")
    end
%>
<%= link_to 'Continue', link, class: 'btn btn-info' %>