<%= form_tag verify_meaning_example_path(@example) do %>

  <div class="form-group row">
    <%= label_tag nil, "Sentence", class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <div class="form-control">
        <%= highlight(@example.sentence, @example.keyword.split(', '), highlighter: '<span class="text-success">\1</span>') %>
      </div>
    </div>
  </div>
  
  <div class="form-group row">
    <%= label_tag :meaning, nil, class: "col-sm-4 col-form-label"%>
    <div class="col-sm-8">
      <%= text_field_tag :meaning, nil, required: true, class: "form-control", autofocus: true %>
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-sm-4 col-sm-8">
      <%= check_box_tag :meaning_learned, "true" %>
      <%= label_tag :meaning_learned, nil, class: "form-check-label" %>
    </div>
  </div>

  <%= submit_tag 'Verify', class: 'btn btn-info' %>
<% end %>
