<h4 class="mb-5">
  Add Example for
  <strong>
    <%= link_to @term.base, url_for([:edit, @term]) %>
  </strong>
</h4>

<%= form_for @example, url: url_for(action: 'create'), builder: MyFormBuilder do |f| %>
  <%= f.text_area :sentence, required: true %>
  <%= f.text_field :keyword, required: true %>
  <%= f.submit class: 'btn btn-info' %>
<% end %>