<!DOCTYPE html>
<html>

<head>
    <title>LearnGermanVocabulary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js' %>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:500,900,200' rel='stylesheet' type='text/css'>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="https://www.countryflags.io/de/shiny/64.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Learn german
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <%= link_to "List", words_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to "New", new_word_path, class: 'nav-link' %>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Practice
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%= link_to "Learn", learn_words_path, class: 'dropdown-item' %>
                        <%= link_to "Once a day to keep the doctor away", learn_words_path(once_a_day: true), class: 'dropdown-item' %>
                        <%= link_to "Smart Learn", learn_words_path(smart_mode: true), class: 'dropdown-item' %>
                        <%= link_to "Practice Learned", learn_words_path(learned_only: true), class: 'dropdown-item' %>
                        <%= link_to "Learn articles", learn_articles_words_path, class: 'dropdown-item' %>
                        <%= link_to "Learn verbs prepositions", learn_verb_prepositions_words_path, class: 'dropdown-item' %>
                        <%= link_to "German to English translation", learn_words_path(translation: :de_en), class: 'dropdown-item' %>
                        <%= link_to "English to German translation", learn_words_path(translation: :en_de), class: 'dropdown-item' %>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container pt-5 pb-5">
        <% if flash[:error].present? %>
            <div class="alert alert-danger" role="alert">
                <%= flash[:error].html_safe %>
            </div>
        <% end %>

        <% if flash[:notice].present? %>
            <div class="alert alert-success" role="alert">
                <%= flash[:notice].html_safe %>
            </div>
        <% end %>

        <%= yield %>
    </div>
</body>

</html>